body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #c0eaf9; /* Color de fondo azul claro */
    max-width: 100%;
    text-align: center;
  }
  
  .container img {
    max-width: 100%;
    height: auto;
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    .container img {
      content: url(../design/mobile-design.jpg);
    }
  }
  
  /* Media query para computadoras */
  @media (min-width: 768px) {
    .container img {
      content: url(../design/desktop-design.jpg);
    }
  }
  